.cart-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cart-list {
    list-style: none;
    padding: 0;
  }
  
  .cart-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
  }
  
  .item-name {
    font-weight: bold;
  }
  
  .cart-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .place-order-button,
  .empty-cart-button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .place-order-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  
  .empty-cart-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
  }

  .grand-total{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
  }
  